:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --rec-text-color: #ff0070;
  --decorated-color: #ff0070;
  --button-text-color: #ff0070;
  --hover-text-color: rgba(255, 0, 112, 0.4);
  --title-color: #db00ff;
  --accent-color: #ff0070;
  --decor-text-color: rgba(0, 0, 40, 1);
  --text-color: #f1b2ce;
}
