:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #fff1f7;
  --rec-text-color: transparent;
  --decorated-color: #353430;
  --button-text-color: #353430;
  --hover-text-color: rgba(50, 49, 45, 0.4);
  --text-color: #353430;
  --title-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --decor-text-color: rgba(53, 52, 48, 1);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: #fff1f7;
    --rec-text-color: transparent;
    --decorated-color: #353430;
    --button-text-color: #353430;
    --hover-text-color: rgba(50, 49, 45, 0.4);
    --text-color: #353430;
    --title-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --decor-text-color: rgba(53, 52, 48, 1);
  }
}
