:root {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --rec-text-color: #ff0070;
  --decorated-color: #ff0070;
  --button-text-color: #ff0070;
  --hover-text-color: rgba(255, 0, 112, 0.4);
  --title-color: #db00ff;
  --accent-color: #ff0070;
  --decor-text-color: rgba(0, 0, 40, 1);
  --text-color: #f1b2ce;
  --main-font: "IBM Plex Mono";
  --title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --main-font-size: 18px;
  --page-gap: 10px;
  --main-gap: 2.22em;
  --section-gap: 2.75em;
  --title-gap: 20px;
}

@media (width >= 768px) {
  :root {
    --title-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --page-gap: 20px;
    --main-gap: 3.3em;
    --section-gap: 4.44em;
  }
}
